{{>header}}
<h2>Get the Weather!</h2>
<form id="weatherForm">
    <input type="text" id="address" name="address" required>
    <button type="submit">Get Weather</button>
</form>
<br><br>
<h3 id="result"></h3>
{{>footer}}