<!DOCTYPE html>
<html>

<head>
    <title>Weather App - {{title}}</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </nav>
        </header>